html,body {
  height: 100vh;
}

body {
  padding-top: 50px;
}

.room-divider {
  border-color: rgb(248, 249, 250);
}

.chat-divider {
  /* border-color: black; */
}

.room-list-item {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: 200;
  cursor: pointer;
}

.active-room {
  font-weight: 400;
}

.nav-user {
  height: 40px;
}

.chat-log {
}

.chat-window {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 10rem;
}

.messagbox {
  /* position: absolute;
  bottom: 0px;
  border-radius: 0px; */
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
}

.change-message:hover {
  cursor: pointer;
}
